<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Segrify</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="/eel.js"></script>
  </head>
  <body>
    <div class="flex-wrapper">
      <div class="container">
        <h1 class="items">Path to your Folder</h1>
        <input
          type="text"
          name="path"
          id="path"
          class="items"
          placeholder="  Enter path here"
        />
        <button id="folder" class="items" onclick="select()">Browse folder</button>
        <div id="result">Choose a Folder😋</div>
        <div id="action">
          <button class="items" id="segrify" onclick="run()">Segrify</button>
        </div>
      </div>
      <footer>
        <div>
          Made with 🖤 by
          <a action="_blank" href="https://github.com/goeldivyansh">Divyansh</a>
          <a action="_blank" href="https://github.com/singhharshit640">Harshit</a>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
